<div class="short-signup">
    <div class="container centered">
        <div class="row">
            <h1>Ready to sign up?</h1>
            <form role="form" class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <p>Free for 30 days! No credit card required to sign up, plus a 30-day money back guarantee.</p>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/container -->

<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Resources</h4>
                <div class="hline-w"></div>
                <ul>
                    <li {% if page.title == "Resource Materials" %}class="active"{% endif %}><a href="{{"/resources/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Resources', 'clicked', 'Resource Materials'])">Resource Materials</a></li>
                    <li {% if page.title == "Webinars" %}class="active"{% endif %}><a href="{{"/webinars/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Resources', 'clicked', 'Webinars'])">Webinars</a></li>
                    <li {% if page.title == "Therapy Notes Software" %}class="active"{% endif %}><a href="{{"/therapy-notes-software/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Resources', 'clicked', 'Therapy Notes Software'])">Therapy Notes Software</a></li>
                    <li {% if page.title == "Private Practice Software" %}class="active"{% endif %}><a href="{{"/private-practice-software/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Resources', 'clicked', 'Private Practice Software'])">Private Practice Software</a></li>
                    <li {% if page.title == "Mental Health Software" %}class="active"{% endif %}><a href="{{"/mental-health-software/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Resources', 'clicked', 'Mental Health Software'])">Mental Health Software</a></li>
                    <li {% if page.title == "Social Services Software" %}class="active"{% endif %}><a href="{{"/social-service-software/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Resources', 'clicked', 'Social Services Software'])">Social Services Software</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Features</h4>
                <div class="hline-w"></div>
                <ul>
                    <li><a href="http://support.theranest.com/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Footer - Features', 'clicked', 'Support Center'])">Support Center</a></li>
                    <li {% if page.title == "Therapy Notes Software" %}class="active"{% endif %}><a href="{{"/therapy-notes-software/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Features', 'clicked', 'Therapy Notes'])">Therapy Notes</a></li>
                    <li {% if page.title == "Therapy Billing Software" %}class="active"{% endif %}><a href="{{"/therapy-billing-software/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Features', 'clicked', 'Client and Billing Management'])">Client & Billing Management</a></li>
                    <li {% if page.title == "Client Portal Add-On" %}class="active"{% endif %}><a href="{{"/features-client-portal/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Features', 'clicked', 'Client Portal Add-On'])">Client Portal Add-On</a></li>
                    <li {% if page.title == "Full-Featured Calendar" %}class="active"{% endif %}><a href="{{"/features-calendar/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Features', 'clicked', 'Scheduling and Appointment Reminders'])">Scheduling & Appointment Reminders</a></li>
                    <li {% if page.title == "Reporting & Analytics" %}class="active"{% endif %}><a href="{{"/features-analytics/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Features', 'clicked', 'Reporting and Analytics'])">Reporting & Analytics</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Company</h4>
                <div class="hline-w"></div>
                <ul>
                    <li {% if page.title == "About" %}class="active"{% endif %}><a href="{{"/about/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Company', 'clicked', 'About'])">About</a></li>
                    <li {% if page.title == "Testimonials" %}class="active"{% endif %}><a href="{{"/testimonials/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Company', 'clicked', 'Testimonials'])">Testimonials</a></li>
                    <li {% if page.title == "FAQ" %}class="active"{% endif %}><a href="{{"/faq/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Company', 'clicked', 'FAQs'])">FAQs</a></li>
                    <!--<li>Blog</li>-->
                    <li {% if page.title == "Contact" %}class="active"{% endif %}><a href="{{"/contact/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Company', 'clicked', 'Contact'])">Contact</a></li>
                    <li {% if page.title == "Privacy" %}class="active"{% endif %}><a href="{{"/privacy/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Company', 'clicked', 'Privacy'])">Privacy</a></li>
                    <li {% if page.title == "Terms" %}class="active"{% endif %}><a href="{{"/terms/" | prepend: site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'Footer - Company', 'clicked', 'Terms'])">Terms & Conditions</a></li>
                </ul>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline" target="_blank" onclick="_gaq.push(['_trackEvent', 'Footer - Social Media', 'clicked', 'Social Media'])"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->