
<div id="headerwrap">
    <div id="headerwrapback"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Mental health software to manage and grow your practice.</h1>			
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                    <iframe width="615" height="346" src="https://www.youtube.com/embed/5eZyspecXJE" frameborder="0" allowfullscreen></iframe>
                <h2>Want to see TheraNest in action? Watch our demo video.</h2>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->

<div class="short-signup">
    <div class="container centered">
        <div class="row">
            <h1>Ready to sign up?</h1>
            <form role="form" class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <p>Free for 30 days! No credit card required to sign up, plus a 30-day money back guarantee.</p>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/container -->