<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="TheraNest">
    <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}">

    <title>
  {% if page.title %}
    {{ page.title }}
  {% else %}
    Mental Health Software | TheraNest Therapy Notes and Practice Management Software
  {% endif %}
    </title>

    <!-- Facebook Open Graph -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.theranest.com/" />
    <meta property="og:image" content="{{ "/assets/img/og_image.png" | prepend: site.baseurl }}" />
    <meta property="og:site_name" content="TheraNest - Mental and Social Services Software" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% endif %}">

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/assets/css/prettyPhoto.css" | prepend: site.baseurl }}" type="text/css" media="screen" charset="utf-8">

    <!-- Video Lightbox CSS -->
    <link href="{{ "/assets/css/lightbox-video/overlay-minimal.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/lightbox-video/videolightbox.css" | prepend: site.baseurl }}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{{ "/assets/js/modernizr.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/jquery.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/jquery.prettyPhoto.js" | prepend: site.baseurl }}"></script>

    <!-- Video Lightbox JS -->
    <script src="{{ "/assets/js/lightbox-video/jquery.tools.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/lightbox-video/swobject.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/lightbox-video/videolightbox.js" | prepend: site.baseurl }}"></script>
</head>