<div class="container mtb centered">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>Our Features</h1>
            <p>TheraNest is used by thousands in organizations of all sizes - from sole practitioners to large mental health practices and non-profits. If you're a therapist, psychologist or social worker looking for a great mental health software for your practice, then TheraNest is the ideal all in one solution for you.</p>
            <p><a href="{{"/features/" | prepend: site.baseurl }}" class="btn btn-theme">See Full Features</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->