<div class="container mtb centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
        
              <div class="carousel slide" data-ride="carousel" id="quote-carousel">
              <!-- Bottom Carousel Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quote-carousel" data-slide-to="1"></li>
                <li data-target="#quote-carousel" data-slide-to="2"></li>
              </ol>
              
              <!-- Carousel Slides / Quotes -->
              <div class="carousel-inner">
                <!-- Quote 1 -->
                <div class="item active">
                    <div class="row">
                      <div class="col-sm-12">
                        <h3>"{{ site.testimonial1.message }}"</h3>
                        <h4><br/>{{ site.testimonial1.author }}</h4>
                         <p>{{ site.testimonial1.position }}</p>
                      </div>
                    </div>
                </div>

                <!-- Quote 2 -->
                <div class="item">
                 <div class="row">
                      <div class="col-sm-12">
                        <h3>"{{ site.testimonial2.message }}"</h3>
                        <h4><br/>{{ site.testimonial2.author }}</h4>
                         <p>{{ site.testimonial2.position }}</p>
                      </div>
                    </div>
                </div>

                <!-- Quote 3 -->
                <div class="item">
                  <div class="row">
                      <div class="col-sm-12">
                        <h3>"{{ site.testimonial3.message }}"</h3>
                        <h4><br/>{{ site.testimonial3.author }}</h4>
                         <p>{{ site.testimonial3.position }}</p>
                      </div>
                    </div>
                </div>
              </div><! --/carousel inner --> 
              
              <!-- Carousel Buttons Next/Prev -->
              <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
              <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
              </div><! --/carousel slide --> 
              <a href="{{"/testimonials/" | prepend: site.baseurl }}" class="btn btn-theme" onclick="_gaq.push(['_trackEvent', 'Includes', 'clicked', 'Testimonial Slider Button'])">See More Success Stories</a>
            </div><! --/col-lg-8 col-lg-offset-2 -->
        </div><! --/row -->
    </div><! --/container -->